/* necessery */

.tiny-container {
  max-width: 960px;
  width: 50%;
  height: 400px;
  margin: 0 auto;
}

.tiny-viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tiny-viewport ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

.tiny-viewport[data-animation="fade"] ul {
  position: relative;
  width: 100%;
  height: 100%;
}

.tiny-viewport[data-animation="fade"] li {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
}



.tiny-viewport[data-animation="slide"] li {
  position: relative;
  display: block;
  float: left;
}

.tiny-viewport[data-animation="slide"] [data-cycle] li {
  display: none;
  float: right;
}

.tiny-viewport[data-animation="slide"] [data-cycle] li.tiny-slide-active {
  display: block;
}

.tiny-viewport li {
  display: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.tiny-viewport li.tiny-slide-active {
  display: block;
}

.tiny-viewport img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}