/* necessery */

.tiny-container {
  max-width: 960px;
}

.tiny-viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tiny-viewport ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tiny-viewport[data-animation="fade"] li {
  position: relative;
  float: left;
  margin-right: -100%;
}

.tiny-viewport[data-animation="slide"] li {
  position: relative;
  display: block;
  float: left;
}

.tiny-viewport[data-animation="slide"] [data-cycle] li {
  display: none;
  float: right;
}

.tiny-viewport[data-animation="slide"] [data-cycle] li.tiny-slide-active {
  display: block;
}

.tiny-viewport li {
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tiny-viewport li.tiny-slide-active {
  display: block;
}

.tiny-viewport img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}